h1 {
    text-align:center
}

h2 {
    text-align:center
}

ul {
    text-align: left;
}

ul li{
    list-style-type: none
}

.list{
    padding-left: 47%;
}

. 2 list {
    Padding-left: 35%
}
    
}